body {
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
body, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  margin: 10px 0px;
  padding-top: 300px;
  background-image: url(../images/overdrive.png);
  background-position: 50% 0px;
  background-repeat: no-repeat no-repeat;
  font-family: Oswald, sans-serif;
  font-size: 76px;
  line-height: 88px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}
h2 {
  margin: 10px 0px;
  color: #666;
  font-size: 32px;
  line-height: 36px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
pre {
  overflow-x: auto;
}
code {
  background-color: #eee;
  font-family: 'Ubuntu Mono', monospace;
  padding: 5px;
  display: inline-block;
  white-space: nowrap;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.header {
  margin-top: 100px;
  margin-bottom: 100px;
}
.how-it-works {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 25%;
  text-align: center;
}
.footer {
  margin-top: 100px;
  margin-bottom: 100px;
}
.samsonmars {
  padding-top: 150px;
  padding-bottom: 0px;
  background-image: url(../images/samsonmars.png);
  background-position: 50% 0px;
  background-repeat: no-repeat no-repeat;
  opacity: 0.8;
  text-align: center;
}
.menu {
  background-color: #666;
  padding: 2px 5px;
  color: white;
}
